<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>Title</title>
</head>
<body>
	<p class="lead text-danger">Ви впевнені, що хочете видалити группу "{{ object.name }}"?</p>
                <p class="text-muted small">Цю дію неможливо буде скасувати.</p>

                <form method="post" class="mt-4 d-flex justify-content-center gap-3">
                   {% csrf_token %}
                   <button type="submit" class="btn btn-danger">Так, видалити</button>
                   <a href="{% url 'group-list' %}" class="btn btn-outline-secondary">Ні, повернутись до списку</a>
                </form>
</body>
</html>